<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/recipe/{{recipe.id}}" method="post">
        <div>
            <nav class="d-flex justify-content-between">
                <h1>Welcome ,{{logged__user.first_name}},{{recipe.name}} </h1>
                <div>
                    <div>
                        <a href="/recipes">bock to recipes</a>
                        <a href="/logout">logout</a>
                    </div>
                    <p>Posted by :{{recipe.name}}</p>
                </div>
            </nav>
            <div class="text_centre">
                <div class="card-body">
                    <div class="mb-3">
                        <h5 class="text-muted">name:</h5>
                        <p class="fs-5">{{party.posted_by}}</p>
                    </div>
                    <div class="mb-3">
                        <h5 class="text-muted"></h5>
                        <div class="mb-3">
                        <h5 class="text-muted">uder:</h5>
                        <p class="fs-5">
                            {%if recipe.time==1%} 
                            <span class="badge bg-success">yes </span>
                            {%else%} 
                            <span class="badge bg-success">no </span> 
                            {%endif%}
                        </p>
                    </div>
                    <div class="mb-3">
                        <h5 class="text-muted">instructions:</h5>
                        <p class="fs-5">{{recipe.instructions}}</p>
                    </div>
                    
                    </div>
                    <div class="mb-3">
                        <h5 class="text-muted">Description:</h5>
                        <p>{{party.description}}</p>
                    </div>
        </div>
    </form>
</body>

</html>